<?xml version='1.0' encoding='utf-8'?>
<widget id="com.cordova.Qunar" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>去哪网</name>
    <description>
        全网app、随时随地想玩就玩
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        Dong Yon
    </author>
    <content src="index.html" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
        <icon density="ldpi" src="res/icon/android/logo.jpg" />
        <icon density="mdpi" src="res/icon/android/logo.jpg" />
        <icon density="hdpi" src="res/icon/android/logo.jpg" />
        <icon density="xhdpi" src="res/icon/android/logo.jpg" />
        <icon density="xxhdpi" src="res/icon/android/logo.jpg" />
        <icon density="xxxhdpi" src="res/icon/android/logo.jpg" />
        <splash density="land-hdpi" src="res/screen/android/57860b489ed71.jpg" />
        <splash density="land-ldpi" src="res/screen/android/57860b489ed71.jpg" />
        <splash density="land-mdpi" src="res/screen/android/57860b489ed71.jpg" />
        <splash density="land-xhdpi" src="res/screen/android/57860b489ed71.jpg" />
        <splash density="port-hdpi" src="res/screen/android/57860b489ed71.jpg" />
        <splash density="port-ldpi" src="res/screen/android/57860b489ed71.jpg" />
        <splash density="port-mdpi" src="res/screen/android/57860b489ed71.jpg" />
        <splash density="port-xhdpi" src="res/screen/android/57860b489ed71.jpg" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <plugin name="cordova-plugin-splashscreen" spec="^5.0.2" />
    <preference name="FadeSplashScreen" value="false" />
    <preference name="FadeSplashScreenDuration" value="750" />
    <allow-navigation href="http://*/*" />
    <allow-navigation href="https://*/*" />
    <allow-navigation href="data:*" />
    <access origin="*" />
    <access origin="http://*/*" />
    <access origin="https://*/*" />
    <engine name="android" spec="^7.1.1" />
</widget>
